Temp
ProjectSettings/QualitySettings.asset
first-player-jumper-csharp.sln
first-player-jumper.sln
assets-test.sln
assets-test.userprefs
assets-test-csharp.sln
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript.unityproj
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-vs.unityproj
Library